@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.just-another-hand-regular {
  font-family: "Just Another Hand", serif;
  font-weight: 400;
  font-style: normal;
}

body div::-moz-selection,
body section::-moz-selection {
  background: transparent;
}
body div::selection,
body section::selection {
  background: transparent;
}
body img::-moz-selection {
  background: transparent;
}
body img::selection {
  background: transparent;
}
